A company started to invest in digital marketing as a new way of their product promotions.For that they collected data and decided to carry out a study on it.

In [3]:
import pandas as pd
data1=pd.read_csv("downloads/Sales_add.csv")
data1.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

##### 1 ● The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

Null Hypothesis H0: There is no increase in sales after stepping into digital marketing.

Alternate Hypothesis Ha: There is increase in sales after stepping into digital marketing.

In [7]:
from scipy.stats import ttest_rel
sales_before=data1["Sales_before_digital_add(in $)"]
sales_after=data1["Sales_After_digital_add(in $)"]
ttest_rel(sales_before,sales_after)

Ttest_relResult(statistic=-12.09070525287017, pvalue=6.336667004575778e-11)

### Conclusion:
##### pvalue is less than 0.05 so reject alternate hypothesis.
##### i.e There is no increase in sales after stepping into digital marketing.

##### 2 ● The company needs to check whether there is any dependency between the features“Region”and“Manager”.

Null Hypothesis H0: There is no dependency between Region and Manager

Alternate Hypothesis Ha: There is dependency between Region and Manager

In [12]:
manager=data1["Manager"]
region=data1["Region"]

In [14]:
data2=pd.crosstab(manager,region)
data2

Region       Region - A  Region - B  Region - C
Manager
Manager - A           4           4           1
Manager - B           3           1           3
Manager - C           3           2           1

In [15]:
from scipy.stats import chi2_contingency

In [16]:
chiVal,pval,df,exp=chi2_contingency(data2)
chiVal,pval,df,exp

(3.050566893424036,
 0.5493991051158094,
 4,
 array([[4.09090909, 2.86363636, 2.04545455],
        [3.18181818, 2.22727273, 1.59090909],
        [2.72727273, 1.90909091, 1.36363636]]))

### Conclusion:

##### pvalue is greater than 0.05.So Reject Null Hypothesis.
##### i.e. There is Dependancy between Region and Manager